{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div style="font-size:50px;color:red; text-align:center">PBL5 - Kỹ thuật máy tính</div>
    <div id="contentPost">
        <h2 style="font-size:30px">1. Thành viên </h2>
        <table style="width:100%; text-align:center; margin-top: 50px; margin-bottom: 50px;">
            <tr>
                <td>
                    <img src="avatar/phat.jpg" class="rounded-circle" style="width: 120px;" alt="Avatar"/> 
                    <div style="font-size: 25px">Trần Tấn Phát</div>
                    <div style="font-size: 20px">kashukiller@gmail.com</div>
                    <div style="font-size: 20px">0702580427</div>
                </td>
                <td>
                    <img src="avatar/hoang_he.jpg" class="rounded-circle" style="width: 120px;" alt="Avatar"/> 
                    <div style="font-size: 25px">Đoàn Chí Hoàng</div>
                    <div style="font-size: 20px">hoanghehe@gmail.com</div>
                    <div style="font-size: 20px">0702580427</div>
                </td>
                <td>
                    <img src="avatar/nhan.jpg" class="rounded-circle" style="width: 120px;" alt="Avatar"/> 
                    <div style="font-size: 25px">Lê Thành Nhân</div>
                    <div style="font-size: 20px">nhan212001@gmail.com</div>
                    <div style="font-size: 20px">0783312462</div>
                </td>
            </tr>
        </table>
    
        <h2>2. Dự án </h2>
            <p style="font-size: 20px; margin-left:50px">Hệ thống nhận dạng và nhắc nhở người không đeo khẩu trang dựa trên mô hình huấn luyện YOLO. </p>
        <h2>3. Kiến trúc </h2>
            <img src="avatar/pbl.drawio.png" width="auto" height="auto" margin="20px">
        
    </div>
</div>
{% endblock content %}